.pizza-input-color{
    background-color: var(--primary-complementary);
}

.soup-input-color{
    background-color: var(--secondary-complementary);
}
.sandwich-input-color{
    background-color: var(--third-complementary);
}