@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {
  --max-width: 1100px;
  --border-radius: 75px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --background: #FFFFFF;
  --black: #1E1E1E;
  --grey: #6C6C6C;
  --primary-main: #FF9F1C;
  --secondary-main: #4A6D00;
  --primary-complementary: #FFBF69;
  --secondary-complementary: #9CBD55;
  --third-complementary: #55ACBD;
  --warning: #BF1650;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: var(--black);
  background: var(--background);
}

h1,h2,h3,h4{
  color: var(--black);
}

h1{
  font-size: 64px;
}

section{
  font-size: 24;
}

input, select{
  background-color: var(--primary-complementary);
  width: 500px;
  height: 50px;
  border: 0 none transparent;
  border-radius: var(--border-radius);
  text-align: center;
  margin: 0 0 15px 0;
  color: var(--grey);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding-left: 25px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.main-container section{
  width: 30vw;
}

select:active{
  appearance: none;
}

select:hover{
  appearance: none;
}


label{
  color: var(--secondary-main);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding-left: 25px;
}

button{
  text-align: center;
}

button:hover{
  cursor: pointer;
}

.primary-button{
  background-color: var(--secondary-main);
  width: 200px;
  height: 60px;
  border: 0 none transparent;
  border-radius: var(--border-radius);
  color: var(--background);
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  margin: 25px 0 0 0;
}

.invalid-message{
  color: var(--warning);
}

.container{
  display: flex;
  z-index: -1;
}

.main-container{
  position: relative;
  display: block;
  width: 50vw;
  padding: 50px 0;
}

.side-container{
  width: 50vw;
  justify-content: center;
}

.side-container img{
  align-self: center;
  justify-self: center;
  filter: drop-shadow(0px 20px 15px rgba(0, 0, 0, 0.4));
}

.side-margin{
  margin: 25px 75px;
}

.center{
  justify-content: center;
  text-align: center;
  align-items: center;
}

.flex{
  display: flex;
  align-items: flex-start;
  flex-direction: column;  
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

@keyframes zoomInOutBlobs{
  0%, 100%{
    opacity: 0.5;
  }
  50%{
    opacity: 1;

  }
}